body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #325bfb;
  color: #ffc600;
}

.dropdown-toggle::after {
  color: #325bfb;
}

.timer {
  width: 100%;
  font-size: 8em;
  text-align: center;
  margin: 0px auto;
}

@media screen and (max-width: 1125px) {
  .timer {
      font-size: 7em;
  }
}
@media screen and (max-width: 1000px) {
  .timer {
      font-size: 6em;
  }
}
@media screen and (max-width: 600px) {
  .timer {
      font-size: 5em;
  }
}
@media screen and (max-width: 550px) {
  .timer {
      font-size: 5em;
  }
}
@media screen and (max-width: 430px) {
  .timer {
      font-size: 4em;
  }
}

.card-image {
  height: 260px;
  object-fit: cover;
}

#recent-times {
  font-style: oblique;
}

#lifetime-stats {
  font-style: oblique;
}

#wca-events {
  font-style: oblique;
}

.hero {
  background-image: url('../src/assets/RubiksStoreBG.png');
  /* background-attachment: fixed ; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* width: 100%; */
  object-fit: cover;
}

.cube-type:hover {
  transform: scale(1.3);
}
